  * {
      padding: 0;
      margin: 0;
  }
  
  body,
  html,
  #__next {
      height: 100vh;
      width: 100vw;
      padding: 0;
      margin: 0;
  }
  
  main,
  nav {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
  }
  
  #logo:hover {
      cursor: pointer;
  }
  
  #home:hover,
  #about:hover,
  #blog:hover,
  #contact:hover {
      text-decoration: none;
      cursor: default;
  }
  
  #home,
  #about,
  #blog,
  #contact {
      color: white;
  }