.container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #1A1B1E;
}

.links {
    width: 100%;
    display: flex;
    gap: 30px;
    padding-left: 50px;
}